.container {
	margin-top: 2rem;
	text-align: center;
	padding: 2rem 0;
	background-color: var(--light-blue);
}

.container .title h1 {
	margin-bottom: 1rem;
	color: var(--dark-blue);
}

.container .title span {
	color: var(--dark-blue);
	font-size: 1.3rem;
}

.container .title svg {
	color: var(--orange);
	font-size: 1.5rem;
	margin: 0 1rem;
}

.container .title p {
	margin-bottom: 1rem;
	color: var(--dark-blue);
	font-size: 1.1rem;
}

.container .statistic {
	margin: 2rem;
}

.container .statistic span {
	font-size: 1.9rem;
	font-weight: bold;
	color: var(--orange);
}

.container .statistic .endText {
	font-weight: bold;
	color: var(--dark-blue);
	font-size: 1.1rem;
	margin: 1rem 0;
}

.container .actions {
	display: flex;
	flex-direction: row;
	width: 50%;
	align-items: center;
	margin: 0 auto;
}

.container .actions button:nth-child(2) {
	margin-left: 1rem;
}
