.wrapper {
	background-color: var(--light-blue);
	width: 70%;
	margin: 4rem 0;
	min-height: 50vh;
	padding: 2rem 3rem;
	display: flex;
}

.nav {
	width: 20%;
	border-right: 1px solid var(--dark-blue);
	min-height: 45vh;
}

.nav ul {
	list-style: none;
	padding-top: 1rem;
}

.nav ul li {
	margin-top: 2rem;
}

.nav ul li a {
	text-decoration: none;
	color: var(--dark-blue);
	font-size: 1.3rem;
	font-weight: bold;
}

.nav ul li .active {
	color: var(--orange);
}

@media (max-width: 1500px) {
	.wrapper {
		width: 75%;
	}
}

@media (max-width: 1200px) {
	.wrapper {
		width: 90%;
	}
}

@media (max-width: 992px) {
	.nav {
		width: 25%;
	}

	.nav ul li a {
		font-size: 1.2rem;
	}
}

@media (max-width: 768px) {
	.wrapper {
		width: 100%;
		padding: 2rem 2rem;
	}

	.nav {
		width: 30%;
	}

	.nav ul li a {
		font-size: 1.1rem;
	}
}

@media (max-width: 600px) {
	.wrapper {
		width: 100%;
		padding: 2rem 1rem;
		flex-direction: column;
	}
	.nav {
		width: 100%;
		min-height: 5vh;
		border-right: none;
		border-bottom: 1px solid var(--dark-blue);
	}

	.nav ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}

	.nav ul li {
		text-align: center;
		margin: 0 0 0.5rem;
	}

	.nav ul li a {
		font-size: 0.8rem;
	}
}
