.passwordReset {
	width: 80%;
	padding: 2rem;
	color: var(--dark-blue);
}

.passwordReset h2 {
	margin-bottom: 2rem;
}

.passwordReset p {
	line-height: 1.5rem;
}

.passwordReset p span {
	color: var(--orange);
	cursor: pointer;
}
