.wordForm {
	background-color: var(--light-blue);
	display: flex;
	width: 70%;
}

.wordForm p {
	width: 10%;
}

.wordForm input {
	text-align: center;
	color: black;
}

.wordForm :nth-child(2) {
	margin-right: 0.8rem;
}

button.addWord {
	width: auto;
	background-color: var(--light-blue);
	border: 0px solid transparent;
	margin: 0;
	padding: 0;
}

button.addWord svg {
	margin: 0 0 0.2rem 0.5rem;
}

@media (max-width: 1500px) {
	.wordForm {
		width: 90%;
	}
}

@media (max-width: 1124px) {
	.wordForm {
		width: 80%;
	}
}

@media (max-width: 992px) {
	.wordForm {
		width: 80%;
	}
}

@media (max-width: 600px) {
	.wordForm {
		width: 90%;
	}
}
