.words {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.words table {
	width: 70%;
	background-color: var(--main-background);
}

table {
	border-spacing: 0;
}

.words .title tbody tr {
	text-align: center;
	font-weight: bold;
	background-color: var(--main-background);
}

.title tbody tr * {
	color: var(--dark-blue);
}

tbody > tr > :nth-child(1) {
	width: 10%;
}

tbody > tr > :nth-child(2) {
	width: 43%;
}

tbody > tr > :nth-child(3) {
	width: 43%;
}

tbody > :nth-child(odd) {
	background-color: var(--light-grey);
	color: var(--main-background);
}

tbody {
	color: var(--dark-blue);
}

.words td {
	padding: 1rem 0;
	text-align: center;
}

@media (max-width: 1500px) {
	.words table {
		width: 90%;
	}
}

@media (max-width: 1124px) {
	.words table {
		width: 80%;
	}
}

@media (max-width: 992px) {
	.words {
		padding: 2rem 0;
	}
}

@media (max-width: 600px) {
	.words {
		width: 100%;
		font-size: 0.9rem;
	}

	.words table {
		width: 100%;
	}
}
