.words {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.words table {
	width: 70%;
	background-color: var(--main-background);
}

.words thead tr th {
	padding: 1rem 0;
}
