.addUnit {
	margin: 8rem auto;
	width: 95%;
	max-width: 35rem;
	background-color: var(--light-blue);
	padding: 4rem 1rem;
	text-align: center;
}

.addUnit h1 {
	font-size: 2rem;
	color: var(--dark-blue);
	margin-bottom: 3rem;
}

.checkbox {
	text-align: left;
	width: 50%;
	margin: 0 auto;
}

.checkbox input {
	background-color: var(--main-background);
	margin: 1rem 0.5rem;
}

.checkbox label {
	color: var(--dark-blue);
}

.actions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button.cancel {
	background-color: var(--main-background);
	color: rgb(122, 119, 119);
}

@media (max-width: 1124px) {
	.addUnit {
		margin-top: 10rem;
	}
}

@media (max-width: 768px) {
	.addUnit {
		margin-top: 12rem;
	}

	.addUnit h1 {
		font-size: 1.7rem;
	}
}

@media (max-width: 600px) {
	.addUnit input,
	.addUnit button {
		width: 90%;
	}

	.addUnit h1 {
		font-size: 1.5rem;
	}

	.checkbox input {
		width: 30px;
		text-align: right;
	}
}
