.noUnit {
	width: 50%;
	text-align: center;
	margin: 10rem auto;
	font-size: 1.7rem;
	color: var(--dark-blue);
	font-weight: bold;
	padding: 5rem 0;
}

.noUnit a {
	color: var(--orange);
	text-decoration: none;
}

@media (max-width: 768px) {
	.noUnit {
		margin: 5rem auto;
	}
}
