.unit {
	margin: 5rem 2rem 2rem 2rem;
	background-color: var(--light-blue);
	padding: 0rem 3rem 1.5rem;
	text-align: center;
	width: 15rem;
}

.unit .title {
	margin-bottom: 2rem;
	font-size: 1.2rem;
	color: var(--dark-blue);
	font-weight: bold;
	text-decoration: none;
}

.unit p span {
	color: var(--orange);
}

.unit p {
	margin-top: 1rem;
}

.actions {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.actions button {
	margin-bottom: 1.5rem;
	border: 1px solid var(--orange);
	width: 80%;
	padding: 0.3rem 1rem;
	font-size: 1.1rem;
}

.unit .owner {
	height: 20px;
	text-align: right;
	margin-bottom: 1rem;
}

.unit .owner svg {
	cursor: pointer;
}
