* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: var(--main-background);
}

:root {
	--main-background: #f8f8f8;
	--light-blue: #eaf6fd;
	--orange: #f16d21;
	--dark-blue: #143047;
	--grey: #77777a;
	--light-grey: #dfdfe9;
}
