.auth {
	margin: 3rem auto;
	width: 95%;
	max-width: 35rem;
	background-color: var(--light-blue);
	padding: 3rem 1rem;
	text-align: center;
}

.auth h1 {
	font-size: 2rem;
	color: var(--dark-blue);
	margin: 0.5rem;
}

.auth p {
	font-size: 1.2rem;
	color: var(--dark-blue);
	margin: 1rem 0 3rem;
}

.auth p span {
	color: var(--orange);
	cursor: pointer;
	text-decoration: none;
}

.frgtPass {
	width: max(50%, 230px);
	margin: 1rem auto;
	text-align: right;
}

.frgtPass a {
	text-decoration: none;
	color: var(--orange);
}

@media (max-width: 768px) {
	.auth {
		padding: 3rem 0rem;
	}

	.auth h1 {
		font-size: 1.7rem;
		margin-bottom: 2rem;
	}

	.auth p {
		margin: 1rem 2rem 3rem;
		line-height: 1.5rem;
	}

	.auth button {
		width: max(50%, 230px);
	}
}
