.forgotPwd {
	margin: 3rem auto;
	width: 95%;
	max-width: 35rem;
	background-color: var(--light-blue);
	padding: 3rem 1rem;
	text-align: center;
}

.forgotPwd h1 {
	font-size: 2rem;
	color: var(--dark-blue);
	margin: 1rem 0 2rem;
}

.forgotPwd p {
	width: 70%;
	margin: 2rem auto;
	font-size: 1.1rem;
	color: var(--dark-blue);
}

.forgotPwd span {
	color: var(--orange);
}

@media (max-width: 768px) {
	.forgotPwd {
		padding: 3rem 0rem;
	}

	.forgotPwd p {
		width: 60%;
	}

	.forgotPwd input {
		width: 240px;
		margin: 0 auto;
	}

	.forgotPwd button {
		width: 240px;
	}
}

@media (max-width: 600px) {
	.forgotPwd {
		width: 95%;
		padding: 3rem 0rem 4rem;
	}

	.forgotPwd p {
		font-size: 1rem;
		line-height: 1.3rem;
	}

	.forgotPwd input {
		width: 220px;
		margin: 0 auto;
	}

	.forgotPwd button {
		width: 220px;
	}
}
