.forgotPwd {
	margin: 3rem auto;
	width: 95%;
	max-width: 35rem;
	background-color: var(--light-blue);
	padding: 3rem 1rem;
	text-align: center;
}

.forgotPwd h1 {
	font-size: 2rem;
	color: var(--dark-blue);
	margin: 1rem 0 2rem;
}

.forgotPwd p {
	width: 70%;
	margin: 2rem auto;
	font-size: 1.1rem;
	color: var(--dark-blue);
}

.forgotPwd span {
	color: var(--orange);
}

button {
	margin-top: 1.5rem;
	cursor: pointer;
	text-decoration: none;
	background-color: var(--orange);
	border: 1px solid var(--orange);
	width: 50%;
	padding: 0.5rem 1rem;
	color: var(--main-background);
	font-size: 1.2rem;
}
