.resetPwd {
	margin: 3rem auto;
	width: 95%;
	max-width: 35rem;
	background-color: var(--light-blue);
	padding: 3rem 1rem;
	text-align: center;
}

.resetPwd h1 {
	font-size: 2rem;
	color: var(--dark-blue);
	margin: 1rem 0 2rem;
}

.resetPwd p {
	width: 70%;
	margin: 2rem auto;
	font-size: 1.1rem;
	color: var(--dark-blue);
}

.resetPwd span {
	color: var(--orange);
}
