button {
	margin-top: 1.5rem;
	cursor: pointer;
	background-color: var(--orange);
	border: 1px solid var(--orange);
	width: max(50%, 230px);
	padding: 0.5rem 1rem;
	color: var(--light-grey);
	font-size: 1.2rem;
}

.cancel {
	background-color: var(--light-grey);
	border: 1px solid var(--main-background);
	color: var(--grey);
}
