button {
	margin-top: 1.5rem;
	cursor: pointer;
	background-color: var(--orange);
	border: 1px solid var(--orange);
	width: 50%;
	padding: 0.5rem 1rem;
	color: var(--main-background);
	font-size: 1.2rem;
}
